.parentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    line-height: normal;
    width: 100%;
}
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.row {
    display: flex;
    gap: 30px;
}

.buttonsContainer {
    display: flex;
    gap: 30px;
}

.continueButton {
    width: 43%;
}
