.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icons {
    border: 1px solid #007Bff;
    border-radius: 5px;
    width: 52px;
    height: 37px;
    background-color: #FFFFFF;

}

.iconButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons:hover {
    filter: brightness(90%);
}