.container {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;
}

.contentWindow {

}

.upperBar {

}

.upperCard {
}

.lowerCard {
}

.row {
}

.col {
}

.profileContainer {

}