.container {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
}

.title {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 50%;
}

.subtitle {
    color: #CCC;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 50%;
}

.right {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 25px;
}
