.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.header {
    height: 10%;
    width: 100%;
}

.body {
    height: 90%;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.largeCardContainer {
    width: 95%;
    height: 95%;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.upper {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productStatus {
    display: flex;
    gap: 3%;
    width: 50%;
    padding-left: 2%;
}

.btn {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.tableContainer {
    max-width: 96%;
    max-height: 75%;
    overflow: scroll;
    padding-left: 2%;
}

.footerText {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerContainer {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
}

/* Targeting the scrollbar container */
::-webkit-scrollbar {
    width: 8px;  /* width of the entire scrollbar */
    height: 8px;
}

/* Targeting the thumb (the moving part) */
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;  /* make it a little round */
    border: 3px solid transparent;  /* creates a border to make the thumb shorter */
}

/* Targeting the track (the static part) */
::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 4px;  /* make it a little round */
}

/* Targeting the thumb when it's being hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}
