.storybook_button {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.storybook_button:hover {
    filter: brightness(95%);
}