.container {
    display: flex;
    gap: 2%;
}

.imagesColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    width: 10%;
    height: 40%;
}

.image {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.selectedImage {
    width: 40%;
    height: 40%;
    background-color: #d9d9d9;
}