.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upperContainer {
    height: 10%;
}

.lowerContainer {
    height: 90%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInformationContainer {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.verticalDivider {
    border-left: 1px solid #ccc;
    height: 90%;
}

.card {
    width: 93%;
    height: 95%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    height: 40%;
}

.body {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
}

.ratingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profileImageContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imageNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 100%;
}

.headerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 55%;
    height: 100%;
}