.container {
    display: flex;
    justify-content: center;
    border: 1px solid #FF0000;
    border-radius: 5px;
    width: 401px;
    height: 130px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 697px;
}

.message {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}