.outer {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #000;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
}

.description {
    color: #9E9D9D;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}