.commonProperties {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    gap: 5%;
    height: 100vh;
}
.header {
    align-items: center;
}

.body {
    align-items: center;
}

.formContainer {
    width: 50%;
    gap: 30px;
}
.text {
    color: #000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reset {
    color: #007Bff;
}
.reset_password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second {
    margin-top: -30px;
}

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    gap: 66px;
}

.input_field{
    display: flex;
    align-items: center;
    position: relative;
}
.icon{
    position: absolute;
    left: 10px;
}

.loginButtonContainer {
    width: 100%;
}

.signupButtonContainer {
    width: 20%;
}